<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript">
    $(function() {
        try {
            IPMapper.initializeMap("map");
            IPMapper.addIPMarker("<%= router %>");
            IPMapper.map.setZoom(5);
        } catch(e) {
            //handle error
        }
    });
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Hello Private Spaces</h1>
  </div>
</div>
<div class="container">
    <h2>Host: <%= host %></h2>
    <h2>Router IP: <%= router %></h2>
    <h2>Internal IP: <%= internal %></h2>
    <h2>Database IP: <%= database %></h2>

    <div id="map" style="height: 500px;"></div>
</div>

</body>
</html>
